/* Contenedor principal */
.container-gallery {
    height: 550px;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Oculta las imágenes fuera de la vista */
  }
  
  /* Contenedor de imágenes */
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transición suave para el scroll */
    width: 75%; /* Ocupa todo el ancho del contenedor */
  }
  
  /* Cada imagen dentro del carrusel */
  .carousel-image {
    width: 100%; /* La imagen ocupa el ancho completo del contenedor */
    height: 100%;
    gap: 10px;
    flex-shrink: 0; /* Evita que las imágenes se reduzcan */
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    border-radius: 20px; /* Bordes redondeados */
  }
  
  /* Indicadores */
  .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute; /* Posiciona los indicadores en la parte inferior */
    bottom: 15px;
    z-index: 10;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .indicator.active {
    background-color: red;
    transform: scale(1.3); /* Agranda el indicador activo */
  }
  
  .indicator:hover {
    background-color: rgba(255, 0, 0, 0.5);
  }
  