
.menu{
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 50px;
}

.menu-item a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: var(--black);
    font-size: 1.2rem;
}

.menu-item a:hover{
    color: var(--red);
}